<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">

    <!-- CHAT TOOLBAR -->
    <mat-toolbar class="chat-toolbar">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- RESPONSIVE CHATS BUTTON-->
                <button mat-icon-button fxHide.gt-md class="responsive-chats-button mr-16"
                        fuseMatSidenavToggler="chat-left-sidenav"
                        aria-label="chats button">
                    <mat-icon>chat</mat-icon>
                </button>
                <!-- / RESPONSIVE CHATS BUTTON-->

                <!-- CHAT CONTACT-->
                <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                     fuseMatSidenavToggler="chat-right-sidenav" (click)="selectContact()">

                    <div class="avatar-wrapper">

                        <img [src]="selectedUser.avatar"
                             class="avatar"
                             *ngIf="selectedUser.id"
                             alt="{{selectedUser.id ? selectedUser.username : selectedUser.group.name}}"/>

                        <div *ngIf="selectedUser.groupId"
                             class="group-name-wrapper"
                             >
                             <div class="group-name-circle">{{selectedUser.group.name.slice(0,2).toUpperCase()}}</div>
                             <h6 class="group-name">{{selectedUser.group.name}}</h6>
                         </div>
                        <mat-icon class="s-16 status"
                                  [ngClass]="selectedUser.status">
                        </mat-icon>
                    </div>

                    <div class="chat-contact-name">
                        {{selectedUser.username}}
                    </div>

                </div>
                <!-- / CHAT CONTACT-->
            </div>

            <div class="users-dropdown" *ngIf="selectedUser?.isAdmin || selectedUser?.group?.isAdmin">
                    <mat-form-field>
                        <mat-select placeholder="add contact">
                            <mat-option *ngFor="let user of contactsWithoutGroups" (click)="addUserToGroup(user)">{{user.username}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            <div>
                <app-chat-dropdown-menu
                    [clearChat]="clearChat"
                    [showMinimizeChat]=falae
                    showContactInfo=true
                    [selectContact]="selectContact"
                    [selectedUser]="selectedUser"
                    [messagesList]="messagesList"
                    [attachFile]="attachFile"
                    [addNewGroup]="addNewGroup"
                    [deleteGroup]="deleteGroup"
                    [closeChatBar]="closeChatBar"
                    [sendFile]="sendFile"
                    [exportChat]="exportChat"
                    [blockContact]="blockContact"
                    [addNewGroupAdmin]="addNewGroupAdmin"
                    [exitGroup]="exitGroup"
                    [resetChatScreen]="resetChatScreen">
                </app-chat-dropdown-menu>
            </div>

        </div>
    </mat-toolbar>
    <!-- / CHAT TOOLBAR -->

      <!-- CHAT CONTENT -->
      <div id="chat-content" fxFlex="1 1 auto"  fusePerfectScrollbar>

            <!-- CHAT MESSAGES -->
            <div class="chat-messages">
    
                <!-- MESSAGE -->
                <div *ngFor="let message of messagesList; let i = index" class="message-row"
                     [ngClass]="{
                            'me': message.senderId === userCredentials.userId,
                            'contact': message.senderId !== userCredentials.userId,
                            'first-of-group': isFirstMessageOfGroup(message, i),
                            'last-of-group': isLastMessageOfGroup(message, i)
                            }">

                    <img *ngIf="message.senderId !== userCredentials.userId"
                         src="{{selectedUser?.avatar}}"
                         class="avatar">

                    <div class="messages-wrapper">

                        <div class="bubble" *ngIf="message.messageType === 'txt'">
                            <!-- <div class="message">{{message.content}}</div> -->
                            <div *ngIf="showInputSelector" ><input type="checkbox" (change)="getSelectedMessages(message, i)">
                                <p>{{ message.content }}</p>
                            </div>
                            <h6 *ngIf="message.isForwarded">Forwarded</h6>
                            <div class="message">
                            <p *ngIf="!showInputSelector">{{ message.content }}</p>
                            <app-message-actions-dropdown 
                                    *ngIf="!showInputSelector"
                                    [messageType]="message.messageType" 
                                    [enableInputSelector]="enableInputSelector"
                                    (emitButtonValue)="setActionTextValue($event)"
                                    >
                                </app-message-actions-dropdown>
                            </div>
                        </div>

                        <div class="bubble" *ngIf="message.messageType === 'doc'">
                            <div id="showFile">
                                <div *ngIf="showInputSelector"> 
                                        <input type="checkbox" (change)="getSelectedMessages(message, i)">
                                    <p>{{ message.displayName }}</p>
                                </div>
                                <h6 *ngIf="message.isForwarded">Forwarded</h6>
                                <div class="message">
                                    <div id="showFile" *ngIf="!showInputSelector" (click)="sanitizeAndRedirect(message.content)">{{message.displayName}}</div>                    
                                    <app-message-actions-dropdown 
                                        *ngIf="!showInputSelector"
                                        [messageType]="message.messageType" 
                                        [enableInputSelector]="enableInputSelector"
                                        (emitButtonValue)="setActionTextValue($event)"
                                    >
                                    </app-message-actions-dropdown>
                                    </div>
                            </div>
                        </div>

                    <div class="bubble" *ngIf="message.messageType === 'aud'">
                        <div id="showFile">
                            <div *ngIf="showInputSelector"> 
                                <input type="checkbox" (change)="getSelectedMessages(message, i)">
                                <p>{{ message.displayName }}</p>
                            </div>
                            <h6 *ngIf="message.isForwarded">Forwarded</h6>
                            <div class="message">
                                <div id="showFile" *ngIf="!showInputSelector && getMediaExt(message.displayName) === 'mp3'" (click)="sanitizeAndRedirect(message.content)">
                                    <small>{{message.displayName}}</small>
                                    <audio controls>
                                        <source src={{message.content}}>
                                    </audio>
                                </div>   
                                
                                <div id="showFile" *ngIf="!showInputSelector && getMediaExt(message.displayName) === 'mp4'" (click)="sanitizeAndRedirect(message.content)">
                                        <small>{{message.displayName}}</small>
                                        <br />
                                    <video controls>
                                        <source src={{message.content}}>
                                        </video>
                                </div>  
                                                        
                                <app-message-actions-dropdown 
                                    *ngIf="!showInputSelector"
                                    [messageType]="message.messageType" 
                                    [enableInputSelector]="enableInputSelector"
                                    (emitButtonValue)="setActionTextValue($event)"
                            >
                            </app-message-actions-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="bubble" *ngIf="message.messageType === 'img'">
                        <div class="message-main-wrapper">
                            <input type="checkbox" (change)="getSelectedMessages(message, i)" *ngIf="showInputSelector">
                            <h6 *ngIf="message.isForwarded">Forwarded</h6>
                            <div class="message">
                            <img id="showFile" src="{{message.content}}" alt="new image uploaded" (click)="openFile(message.content, message.messageType)"/>
                            <app-message-actions-dropdown
                                *ngIf="!showInputSelector"
                                [messageType]="message.messageType"
                                [content]="message.content"
                                [enableInputSelector]="enableInputSelector"
                                (emitButtonValue)="setActionTextValue($event)"
                                >
                            </app-message-actions-dropdown>
                                <!-- <a href="{{message.content}}" download="message.displayName" id="downloadLink" target="_self"></a> -->
                            </div>
                        </div>
                    </div>

                        <div class="time secondary-text">{{message.timeSent}}</div>
                    </div>

                </div>
                <!-- / MESSAGE -->

                
            </div>
            <!-- CHAT MESSAGES -->
        <ng-container *ngIf="selectedUser && messagesList.length === 0" class="no-messages">

            <div class="no-messages-icon no-messages">
                <mat-icon class="s-128 fade-text">chat</mat-icon>
            </div>

            <div class="no-messages secondary-text">
                Start a conversation by typing your message below.
            </div>

        </ng-container>
    </div>
    <!-- CHAT FOOTER -->
    <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

        <!-- REPLY FORM -->
        <div class="reply-form" fxFlex="0 0 auto" *ngIf="showReplyForm" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm="ngForm"
                  (ngSubmit)="sendMessage(replyForm)"
                  (keydown.enter)="sendMessage(replyForm)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput placeholder="Type your message"
                              ngModel name="message" [rows]="1" [matTextareaAutosize]="true"></textarea>
                </mat-form-field>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>

        <div class="reply-form" fxFlex="0 0 auto" *ngIf="showCreateGroupForm" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm="ngForm"
                  (ngSubmit)="createGroup(replyForm)"
                  (keydown.enter)="createGroup(replyForm)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #groupName placeholder="Type your new group name"
                    maxlength="20" ngModel name="groupName" [rows]="1" [matTextareaAutosize]="true"></textarea>
                </mat-form-field>

                <button class="create-group-button" mat-icon-button type="submit" aria-label="Create group">
                    <mat-icon class="secondary-text">group_add</mat-icon>
                </button>

               
                <button class="cancel-button" mat-icon-button type="button" (click)="cancelGroupCreation()" aria-label="Create group">
                    <mat-icon class="secondary-text">cancel</mat-icon>
                </button>

            </form>


        </div>

        <div class="forward-chat-buttons" *ngIf="showInputSelector" fxLayout="row" fxLayoutAlign="center center">
            <button 
                class="send-message-button" 
                mat-button aria-label="Cancel"
                (click)="cancelChatSelection()">Cancel
            </button>
            <button 
                class="send-message-button"
                mat-button aria-label="Forward"
                (click)="actionText === 'Delete' ? deleteMessages() : openChatModal()"
                [disabled]="selectedMessages.length === 0">{{ actionText }}</button>
        </div>
        <!-- / REPLY FORM -->

    </div>
    <!-- / CHAT FOOTER-->

</div>
<!-- / CHAT -->
