<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">

    <!-- CHAT TOOLBAR -->
    <mat-toolbar class="chat-toolbar">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- RESPONSIVE CHATS BUTTON-->
                <button mat-icon-button fxHide.gt-md class="responsive-chats-button mr-16"
                        fuseMatSidenavToggler="chat-left-sidenav"
                        aria-label="chats button">
                    <mat-icon>chat</mat-icon>
                </button>
                <!-- / RESPONSIVE CHATS BUTTON-->

                <!-- CHAT CONTACT-->
                <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                     fuseMatSidenavToggler="chat-right-sidenav" (click)="selectContact()">

                    <div class="avatar-wrapper">

                        <img [src]="selectedUser.avatar"
                             class="avatar"
                             *ngIf="selectedUser.id"
                             alt="{{selectedUser.id ? selectedUser.username : selectedUser.group.name}}"/>

                        <div *ngIf="selectedUser.groupId"
                             class="group-name-wrapper"
                             >
                             <div class="group-name-circle">{{selectedUser.group.name.slice(0,2).toUpperCase()}}</div>
                             <div class="group-name">{{selectedUser.group.name}}</div>
                         </div>
                        <mat-icon class="s-16 status"
                                  [ngClass]="selectedUser.status">
                        </mat-icon>
                    </div>

                    <div class="chat-contact-name">
                        {{selectedUser.username}}
                    </div>

                </div>
                <!-- / CHAT CONTACT-->
            </div>

            <div>
                <!-- <button mat-icon-button [matMenuTriggerFor]="contactMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #contactMenu="matMenu">
                    <button mat-menu-item fuseMatSidenavToggler="chat-right-sidenav" (click)="selectContact()">
                        Contact Info
                    </button>
                </mat-menu> -->
                <app-chat-dropdown-menu
                    showContactInfo=true
                    [selectContact]="selectContact"
                    [selectedUser]="selectedUser"
                    [messagesList]="messagesList"
                    [attachFile]="attachFile"
                    [addNewGroup]="addNewGroup"
                    [deleteGroup]="deleteGroup"
                    [closeChatBar]="closeChatBar"
                    [sendFile]="sendFile"
                    [resetChatScreen]="resetChatScreen">
                </app-chat-dropdown-menu>
            </div>

        </div>
    </mat-toolbar>
    <!-- / CHAT TOOLBAR -->

    <!-- CHAT CONTENT -->
    <div id="chat-content" fxFlex="1 1 auto"  fusePerfectScrollbar>

        <!-- CHAT MESSAGES -->
        <div class="chat-messages">

            <!-- MESSAGE -->
            <div class="messages-container" id="container" #container (scroll)="loadMoreMessagesOnScroll($event)">
                <ng-container *ngIf="messagesList?.length > 0">
                   <div *ngFor="let message of messagesList; let i = index"
                           [ngClass]="{
                           'sender': message.senderId === userId,
                           'receiver': message.senderId !== userId,
                           'first-of-group': isFirstMessageOfGroup(message, i),
                           'last-of-group': isLastMessageOfGroup(message, i)
                           }">
                       <img 
                           *ngIf="message.senderId !== userId"
                           src={{selectedUser?.avatar}} 
                           class="avatar" 
                           alt=""
                       >
                       <div class="message-wrapper">
                               <div class="message" *ngIf="message.messageType === 'txt'">
                                   <div *ngIf="showInputSelector" ><input type="checkbox" (change)="getSelectedMessage(message, i)"> {{ message.content }}</div>
                                   <p *ngIf="!showInputSelector">{{ message.content }}</p>
                                   <app-message-actions-dropdown 
                                           [messageType]="message.messageType" 
                                           [enableInputSelector]="enableInputSelector"
                                          >
                                       </app-message-actions-dropdown>
                               </div>
           
                               <div id="showFile" class="message" *ngIf="message.messageType === 'doc' || message.messageType === 'aud'">
                                       <div *ngIf="showInputSelector"> 
                                            <input type="checkbox" (change)="getSelectedMessage(message, i)">{{ message.displayName }}
                                       </div>
                                       <div id="showFile" *ngIf="!showInputSelector" (click)="sanitizeAndRedirect(message.content)">{{message.displayName}}</div>                    
                                       <app-message-actions-dropdown 
                                           [messageType]="message.messageType" 
                                           [enableInputSelector]="enableInputSelector"
                                          >
                                       </app-message-actions-dropdown>
                                   </div>
           
           
                               <div class="message" *ngIf="message.messageType === 'img'" (click)="openFile(message.content, message.messageType)">
                                   <input type="checkbox" (change)="getSelectedMessage(message, i)" *ngIf="showInputSelector">
                                       <app-message-actions-dropdown 
                                           [messageType]="message.messageType" 
                                           [enableInputSelector]="enableInputSelector"
                                          >
                                       </app-message-actions-dropdown>
                                       <img id="showFile" src="{{message.content}}" alt="new image uploaded"/>
                               </div>
                               
                               <div class="time">{{message.timeSent}}</div>
                       </div>
                   </div>
               </ng-container>
           
               <ng-container *ngIf="showPlaceHolderIconAndText">
           
                       <div class="no-messages-icon">
                           <mat-icon class="s-128 fade-text">chat</mat-icon>
                       </div>
           
                       <div class="no-messages secondary-text">
                          {{placeholderMessage}}
                       </div>
           
                   </ng-container>
           
               </div>
            <!-- / MESSAGE -->

        </div>
        <!-- CHAT MESSAGES -->

    </div>
    <!-- / CHAT CONTENT -->

    <!-- CHAT FOOTER -->
    <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

        <!-- REPLY FORM -->
        <div class="reply-form" fxFlex="0 0 auto" *ngIf="showReplyForm" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm="ngForm"
                  (ngSubmit)="sendMessage(replyForm)"
                  (keydown.enter)="sendMessage(replyForm)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput placeholder="Type your message"
                              ngModel name="message" [rows]="1" [matTextareaAutosize]="true"></textarea>
                </mat-form-field>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>

        <div class="reply-form" fxFlex="0 0 auto" *ngIf="showCreateGroupForm" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm="ngForm"
                  (ngSubmit)="createGroup(replyForm)"
                  (keydown.enter)="createGroup(replyForm)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #groupName placeholder="Type your new group name"
                    maxlength="20" ngModel name="groupName" [rows]="1" [matTextareaAutosize]="true"></textarea>
                </mat-form-field>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Create group">
                    <mat-icon class="secondary-text">group_add</mat-icon>
                </button>

            </form>

        </div>
        <!-- / REPLY FORM -->

    </div>
    <!-- / CHAT FOOTER-->

</div>
<!-- / CHAT -->
