<div class="header mat-elevation-z4 primary" fxLayout="row" fxLayoutAlign="space-between center">

    <ng-container *ngIf="selectedUser === null">

        <div class="title ml-16" fxLayout="row" fxLayoutAlign="start center"
             (click)="openChatBar()">

            <mat-icon class="s-32 fuse-white-fg">chat</mat-icon>
            <h3 class="ml-12">{{ chatHeader }}</h3>
        </div>

    </ng-container>

    <ng-container *ngIf="selectedUser !== null">

        <div class="title" fxLayout="row" fxLayoutAlign="start center"  (click)="openChatBar()">
            <div *ngIf="selectedUser.groupId || selectedUser.group?.groupId"
                class="group-name-title"
                matTooltipPosition="left">{{selectedUser.group.name.slice(0,2).toUpperCase()}}
            </div>
            <img [src]="selectedUser.avatar" class="avatar mx-16" *ngIf="selectedUser.id">
            <h3 class="text-truncate">{{selectedUser.username || selectedUser.name}}</h3>
        </div>

    </ng-container>

    <div class="users-dropdown" *ngIf="selectedUser?.isAdmin || selectedUser?.group?.isAdmin">
        <mat-form-field>
            <mat-select placeholder="add contact">
                <mat-option *ngFor="let user of contactsWithoutGroups" (click)="addUserToGroup(user)">{{user.username}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div>
      <app-chat-dropdown-menu
        [selectedUser]="selectedUser"
        [messagesList]="messagesList"
        [attachFile]="attachFile"
        [addNewGroup]="addNewGroup"
        [deleteGroup]="deleteGroup"
        [closeChatBar]="closeChatBar"
        [resetChatScreen]="resetChatScreen"
        [sendFile]="sendFile">
    </app-chat-dropdown-menu>
    </div>

    <button mat-icon-button class="toggle-sidebar-open mr-8" (click)="toggleSidebarOpen()"
            fxHide.gt-md>
        <mat-icon class="secondary-text">close</mat-icon>
    </button>

</div>

<div class="content">
    <!-- Contacts -->
        <div id="contacts-list" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
  
            <div *ngFor="let user of allContacts; let i = index"
                 class="contacts-list-item"
                 (click)="selectChatPartner(user)"
                 [ngClass]="{'active': user.id === selectedUser?.id}"
                 >
                  <img *ngIf="user.id"
                    class="avatar" src={{user.avatar}}
                    [matTooltip]="user.username"
                    matTooltipPosition="left"
                  >

                  <div *ngIf="user.groupId"
                  class="group-name"
                  [matTooltip]="user.group.name"
                  matTooltipPosition="left"
                >{{user.group.name.slice(0,2).toUpperCase()}}</div>
                   <div class="unread-count" *ngIf="user.unread">{{user.unread}}</div>
                <div class="status-icon" [ngClass]="user.status" *ngIf="user.id"></div>
    
            </div>
        </div>
        
          <!-- Chat panel -->
  <div id="chat" fxFlex="1 1 auto">
    <div class="messages-container" id="container" #container (scroll)="loadMoreMessagesOnScroll($event)">
     <ng-container *ngIf="messagesList?.length > 0">
        <div *ngFor="let message of messagesList; let i = index"
                [ngClass]="{
                'sender': message.senderId === userCredentials.userId,
                'receiver': message.senderId !== userCredentials.userId,
                'first-of-group': isFirstMessageOfGroup(message, i),
                'last-of-group': isLastMessageOfGroup(message, i)
                }">
            <img 
                *ngIf="message.senderId !== userCredentials.userId"
                src={{selectedUser?.avatar}} 
                class="avatar" 
                alt=""
            >
            <div class="message-wrapper" (mouseenter)="showMessageActionsHandler(true, i)" (mouseleave)="showMessageActionsHandler(false, i)">
                    <div class="message" *ngIf="message.messageType === 'txt'">
                        <div *ngIf="showInputSelector" ><input type="checkbox" (change)="getSelectedMessages(message, i)"> {{ message.content }}</div>
                        <p *ngIf="!showInputSelector">{{ message.content }}</p>
                        <app-message-actions-dropdown 
                                [messageType]="message.messageType" 
                                [enableInputSelector]="enableInputSelector"
                                (emitButtonValue)="setActionTextValue($event)"
                               >
                            </app-message-actions-dropdown>
                    </div>

                    <div id="showFile" class="message" *ngIf="message.messageType === 'doc' || message.messageType === 'aud'">
                            <div *ngIf="showInputSelector"> 
                                 <input type="checkbox" (change)="getSelectedMessages(message, i)">{{ message.displayName }}
                            </div>
                            <div id="showFile" *ngIf="!showInputSelector" (click)="sanitizeAndRedirect(message.content)">{{message.displayName}}</div>                    
                            <app-message-actions-dropdown 
                                [messageType]="message.messageType" 
                                [enableInputSelector]="enableInputSelector"
                                (emitButtonValue)="setActionTextValue($event)"
                               >
                            </app-message-actions-dropdown>
                        </div>


                    <div class="message" *ngIf="message.messageType === 'img'" (click)="openFile(message.content, message.messageType)">
                        <input type="checkbox" (change)="getSelectedMessages(message, i)" *ngIf="showInputSelector">
                            <app-message-actions-dropdown 
                                [messageType]="message.messageType" 
                                [enableInputSelector]="enableInputSelector"
                                (emitButtonValue)="setActionTextValue($event)"
                               >
                            </app-message-actions-dropdown>
                            <img id="showFile" src="{{message.content}}" alt="new image uploaded"/>
                    </div>
                    
                    <div class="time">{{message.timeSent}}</div>
            </div>
        </div>
        </ng-container>

        <ng-container *ngIf="showPlaceHolderIconAndText">

                <div class="no-messages-icon">
                    <mat-icon class="s-128 fade-text">chat</mat-icon>
                </div>

                <div class="no-messages secondary-text">
                {{placeholderMessage}}
                </div>

            </ng-container>

        </div>

    <div class="reply-form-container" *ngIf="showReplyForm">
        <form #replyForm="ngForm"
        (ngSubmit)="sendMessage(replyForm)"
        (keydown.enter)="sendMessage(replyForm)"
        fxFlex fxLayout="row" fxLayoutAlign="start center">

        <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
            <textarea matInput #replyInput ngModel name="message" placeholder="Type your message"
                    [rows]="1" [matTextareaAutosize]="true"></textarea>
        </mat-form-field>
        <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
            <mat-icon class="secondary-text">send</mat-icon>
        </button>

      </form>
    </div>

        <div class="reply-form-container" *ngIf="showCreateGroupForm">
            <form #createGroupForm="ngForm"
            (ngSubmit)="createGroup(createGroupForm)"
            fxFlex fxLayout="row" fxLayoutAlign="start center">

            <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                <textarea matInput #groupName ngModel name="groupName" placeholder="Type a group name..."
                        [rows]="1" [matTextareaAutosize]="false" maxlength="20"></textarea>
            </mat-form-field>
            <button class="send-message-button" mat-icon-button type="submit" aria-label="Create group">
                <mat-icon class="secondary-text">group_add</mat-icon>
            </button>

        </form>
        </div>

        <div class="forward-chat-buttons" *ngIf="showInputSelector">
            <button 
                class="send-message-button" 
                mat-button aria-label="Cancel"
                (click)="cancelChatSelection()">Cancel
            </button>
            <button 
                class="send-message-button"
                mat-button aria-label="Forward"
                (click)="actionText === 'Delete' ? deleteMessages() : openChatModal()"
                [disabled]="selectedMessages.length === 0">{{ actionText }}</button>
        </div>
    </div>
<!-- Chat panel ends -->

    </div>
    <!-- / Contacts -->
